Django==4.1.2
backports.zoneinfo==0.2.1;python_version<"3.9"
django-cors-headers==3.13.0
djangorestframework==3.14.0
psycopg2-binary==2.9.4
djangorestframework-simplejwt==5.2.1
django-on-heroku==1.1.2
gunicorn==20.1.0