.bookDetailsPage {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 800px;
}

.bookDetails-main-container {
    width: 80%;
    margin-bottom: 1rem;
}

.bookDetails-top-container {
    display:flex;
    justify-content: space-between;
}

.bookDetails-content-container {
    width: 30%;
    min-width: 250px;
    background-color: #e7e7e7;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
}

.bookDetails-content-container-title {
    margin: 0;
}

.bookDetails-content {
    flex: 1;
}

.bookDetails-filter-container {
    margin-left: 1rem;
    width: 62.5%; 
    min-width: 450px;
    height: auto;
}

.bookDetails-exercises-container {
    width: 100% -20px;
    background-color: #e7e7e7;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    padding: 20px;
}

.bookDetails-exercises-container h2 {
    font-family: 'Glory', sans-serif;
}

.bookDetails-exercises-list-container {
    display: inline;
    justify-content: center;
    height: 450px;
    overflow: auto;
}

/* Media Queries */
@media only screen and (min-width: 1200px) {
    .bookDetails-main-container {
        width: 1000px;
    }
}