.requestsPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 800px;
}

.title-container {
    width: 70%;
    height: 120px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

.requests-welcome {
    font-weight: bold;
    font-size: 1rem;
}
