.searchPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 800px;
}

.searchPage-main-container {
    width: 80%;
}

.searchPage-main-container h2 {
    padding: 0;
    margin-top: 1.5rem;
    margin-bottom: 0.25rem;
}

.sp-books-list-container {
    width: 100%;
    background-color: #e7e7e7;
    margin-bottom: 1.5rem;
    border-radius: .5rem;
    overflow: auto;
    max-height: 35vh;
}

.sp-exercises-list-container {
    width: 100%;
    background-color: #e7e7e7;
    margin-bottom: 1.5rem;
    border-radius: .5rem;
    overflow: auto;
    max-height: 70vh;
}

/* Media Queries */
@media only screen and (min-width: 1200px) {
    .searchPage-main-container {
        width: 1000px;
    }
}