.template-main-container {
  width: 100%;
}

.exercise-title,
.exercise-side,
.exercise-link,
.exercise-levels,
.exercise-clef,
.exercise-tags {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

/* label = inline element */
.label_left {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 500;
  width: 30%;
}

input {
  width: 60%;
  padding: 3px 5px 3px 5px;
  font-family: "Glory", sans-serif;
  font-size: 1rem;
}

.checkbox-input {
  width: 20px;
  vertical-align: middle;
}

.checkbox-side {
  display: inline-block;
}

/* .exercise-tags {
  display: inline;
} */
.list-tags {
  width: 60%;
  display: inline;
}
